<?xml version="1.0"?>
<config>
    <modules>
        <Smart_Optinandout>
            <version>0.1.0</version>
        </Smart_Optinandout>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <optinandout before="Mage_Adminhtml">Smart_Optinandout_Adminhtml</optinandout>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <Smart_Optinandout before="Mage_Checkout">Smart_Optinandout_Checkout</Smart_Optinandout>
                    </modules>
                </args>
            </checkout>
            <optinandout>
                <use>standard</use>
                <args>
                    <module>Smart_Optinandout</module>
                    <frontName>optinandout</frontName>
                </args>
            </optinandout>
        </routers>
    </frontend>
    <adminhtml>
        <menu>
            <smart translate="title" module="optinandout">
                <title>SmarteBusiness</title>
                <sort_order>400</sort_order>
                <children>
                    <optinandout>
                        <title>Smart Opt-In Service</title>
                        <sort_order>400</sort_order>
                        <action>adminhtml/smartoptinoutservice/</action>
                    </optinandout>
                </children>
            </smart>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <smart>
                            <children>
                                <optinandout translate="title" module="optinandout">
                                    <title>Smart Opt-In Service</title>
                                    <sort_order>400</sort_order>
                                </optinandout>
                            </children>
                        </smart>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <optinandout translate="title" module="optinandout">
                                            <title>Smart Opt-In Service</title>
                                            <sort_order>1</sort_order>
                                        </optinandout>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <models>
            <optinandout>
                <class>Smart_Optinandout_Model</class>
                <resourceModel>optinandout_resource</resourceModel>
            </optinandout>
            <optinandout_resource>
                <class>Smart_Optinandout_Model_Resource</class>
                <entities>
                    <optinandout>
                        <table>aa_smart_thirdparty_opt_in</table>
                    </optinandout>
                </entities>
            </optinandout_resource>
        </models>
        <blocks>
            <optinandout>
                <class>Smart_Optinandout_Block</class>
            </optinandout>
        </blocks>
        <helpers>
            <optinandout>
                <class>Smart_Optinandout_Helper</class>
            </optinandout>
        </helpers>
        <resources>
            <optinandout_setup>
                <setup>
                    <module>Smart_Optinandout</module>
                </setup>
            </optinandout_setup>
        </resources>
        <events>
            <customer_register_success>
                <observers>
                    <Smart_Optinandout_Model_Optobserver>
                        <type>singleton</type>
                        <class>Smart_Optinandout_Model_Optobserver</class>
                        <method>new_customer_optinservice</method>
                    </Smart_Optinandout_Model_Optobserver>
                </observers>
            </customer_register_success>
            <customer_save_after>
                <observers>
                    <Smart_Optinandout_Model_Optobserver>
                        <type>singleton</type>
                        <class>Smart_Optinandout_Model_Optobserver</class>
                        <method>existing_customer_optinservice</method>
                    </Smart_Optinandout_Model_Optobserver>
                </observers>
            </customer_save_after>
            <sales_order_place_after>
                <observers>
                    <Smart_Optinandout_Model_Optobserver>
                        <type>singleton</type>
                        <class>Smart_Optinandout_Model_Optobserver</class>
                        <method>new_order_optinservice</method>
                    </Smart_Optinandout_Model_Optobserver>
                </observers>
            </sales_order_place_after>

        </events>
    </global>
</config>